body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}

.left-header {
    padding-left: 72px;
}

.right-header {
    padding-right: 72px;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 0px;
}

.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
    gap: 30px;
}

.hero-button, .pop-up-button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 10px;
    border: 0;
}

.pop-up-button {
    border: solid;
    border-width: thin;
    border-color: #F9FAF8;
}

.img-box {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 200px;
}

.rounded-box {
    height: 100px;
    width: 100px;
    border-style: solid;
    border-color:#3882F6;
    border-radius: 10px;
    padding: 0;
}

h1 {
    font-size: 48px;
    font-weight: 1200;
    color: #F9FAF8;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

h2 {
    font-size: 36px;
    font-weight:1200;
    color: #1F2937;
}

#logo-text {
    font-size: 24px;
    color: #F9FAF8;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: auto;
    gap: 20px;
    padding-bottom: 80px;
}

.info-text {
    font-size: 16px;
    text-align: center;
}

.info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
    padding: 80px 250px 80px 250px;
    font-size: 28px;
    color: #1F2937;
    font-style: italic;
}

.author {
    font-style: normal;
    font-weight: bolder;
    text-align: right;
    padding-right: 20px;
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pop-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    background-color: #3882F6;
    padding: 20px 80px 20px 80px;
    margin: 100px 100px 100px 100px;
    border-radius: 8px;
    border:0;
    color: #F9FAF8;
}